<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adding List</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <h1>Add Shopping Item</h1>

    <form action="/add" method="post">
        <input type="text" name="item" placeholder="Enter shopping item">
        <button type="submit">Add</button>
    </form>

    <h2>Current List:</h2>

    {{if .List}}
        <ul>
            {{range $i, $v := .List}}
                <li>
                    {{ $v }}

                    
                    <form action="/add" method="post" style="display:inline;">
                        <input type="hidden" name="delete" value="{{ $i }}">
                        <button type="submit">Delete</button>
                    </form>
                </li>
            {{end}}
        </ul>
    {{else}}
        <p>No items yet.</p>
    {{end}}

    <br>
    <a href="/">
        <button class="button" type="button">Back to Home</button>
     </a>
    <a href="/showall">
        <button class="button" type="button">Show All List</button>
    </a>

</body>
</html>
