body {
    text-align: center;
    background-color: antiquewhite;
    font-family: 'Times New Roman', Times, serif;
}

.button {
    background-color: #4a90e2;
    color: white;
    border: none;
    padding: 12px 25px;
    margin: 12px;
    border-radius: 8px;
    cursor: pointer;

}


